 <% cache ["v1", team] do %>
	<td><%= team.name%></td>
  <td><%= team.members.count%></td>
  <td>
    **************<br />
    *&nbsp; &nbsp; &nbsp;Flag US&nbsp;&nbsp;&nbsp;&nbsp;*<br />
    **************
  </td>
  <% end -%>
